<!-- displays text message send from user-input -->
<div *ngIf="messageTransmission == 'send' && messageType == 'text'">
    <div class="card message-card-send">
        <a>{{ messageContent }}</a>    
    </div>
    <a class="message-time-send">You @ {{ messageTime }}</a>
</div>

<!-- displays image message send from user-input over the upload button -->
<div *ngIf="messageTransmission == 'send' && messageType == 'image'">
    <div class="card message-card-send">
        <img [src]="messageContent">  
    </div>
    <a class="message-time-send">You @ {{ messageTime }}</a>
</div>

<!-- displays receiving messages -->
<div *ngIf="messageTransmission == 'received'">
    <div class="card message-card-received">
        <a>{{ messageContent }}</a>
    </div>
    <a class="message-time-received">Bot @ {{ messageTime }}</a>
</div>

